# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
static/assistant/sprites/Cami.zip
static/assistant/sprites/Cami-20260423-095440.piskel
static/assistant/sprites/Cami1/
static/assistant/sprites/Cami2/
Contenidos/
*.so

# Entornos virtuales
.env
.venv
env/
venv/
ENV/

# Variables de entorno
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks
.ipynb_checkpoints

# Sistemas operativos
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Bases de datos locales
*.sqlite3
*.db

# Flask
instance/
.webassets-cache
flask_session/

# Migraciones (si usas Flask-Migrate)
# migrations/